<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<td>Nombres</td>
				<td>Email</td>
				<td>Usuario</td>
				<td>Dirección</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="@{user: usuario">
				<td th:text="${user.nombres + ' ' + user.apellidos}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.nombreusuario}"></td>
				<td th:text="${user.direccion}"></td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>